* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #ededed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
  width: 100%;
  margin: 20px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div h1 {
  text-align: center;
  color: #444;
}

div p {
  margin-top: 12px;
  color: #777;
}

div ul {
  width: 100%;
  margin: 24px 0 0 20px;
  max-width: 300px;
}

div li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding-left: 15px;
  background-color: #fff;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.3);
  animation: show 400ms;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0  0 0 15px;
  background: #ca4949;
  border-radius: 0 4px 4px 0;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0,-30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}